body {
    background-image: url(images/bg.jpg);
    background-size: 193%;
}

.col {
    padding-top: 174px;
}

.container {
    margin: 0px;
    padding:0px;
}

#start {
    width:200px;
}

img {
    width: 1920px;
    position: absolute;
}

.kart img {
    width: 50px;
    height: auto;
}


#k1 {
    padding-top: 25px;
    padding-left: 150px;
    position: absolute;
}

#k2 {
    padding-top: 80px;
    padding-left: 150px;
    position: absolute;
}

#k3 {
    padding-top: 130px;
    padding-left: 150px;
    position: absolute;
}

#k4 {
    padding-top: 180px;
    padding-left: 150px;
    position: absolute;
}

#k5 {
    padding-top: 230px;
    padding-left: 150px;
    position: absolute;
}

#k6 {
    padding-top: 280px;
    padding-left: 150px;
    position: absolute;
}

.button {
    padding-left: 35px;
    padding-bottom: 5px;
}

.button-mini {
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 600;
}

#start {
    font-weight: 1000;
    padding: 0px 10px;
}

.apostar {
    background-image: linear-gradient(180deg, aqua, yellow);
    margin-left: 850px;
    padding: 10px 10px;
    width: 300px;
    border: 5px solid black;
    border-top: 362px solid black;
} 

#corredor {
    margin: 5px 0px;
    font-weight: 600;
}

.text {
    padding: 5px;
    font-weight: 600;
}